:root{
    --primary-color: #fff;
    --primary-light-color: #2B7FFF;
    --primary-dark-color: #011C44;
    --secondary-dark-grey-color: #4A4A4A;
    --secondary-ligth-grey-color: #747272;
    --secondary-brand-color: #011F4A;
}