.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: linear-gradient(89deg, #FFF 20.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 68.65%, rgba(255, 255, 255, 0.4) 72.78%);

    &__container {

        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        min-height: 106px;
    }

    &__wrapper-logo {
        @media(max-width:890.98px) {
            flex-grow: 1;
        }
    }

    &__logo {
        // color: var(--primary-light-color);
        // font-size: 22px;
        // font-weight: 700;
        // line-height: 95.454545%;
        // position: relative;
        // z-index: 2;
        // display: block;
        // max-width: 74px;
    }

    &__nav {}

    &__social {}
}

.logo {
    color: var(--primary-light-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 95.454545%;
    position: relative;
    z-index: 2;
    display: block;
    max-width: 74px;
}

.menu {
    &__body {
        @media(max-width:890.98px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #052b63;
            padding: 150px 20px 50px 20px;
            transition: left 0.5s ease 0s;

        }
    }


    &__list {
        display: flex;
        column-gap: 56px;
        row-gap: 35px;
        flex-direction: column;
        align-items: center;

        @media(min-width:890.98px) {
            flex-direction: row;
        }

        @media(max-width:991.98px) {
            column-gap: 40px;
        }
    }

    &__item {}

    &__link {
        color: var(--primary-dark-color);

        &:hover {
            color: var(--primary-light-color);
            font-weight: 700;
        }

        @media(max-width:890.98px) {
            font-size: 28px;
            color: var(--primary-color);
        }
    }
}

@media(max-width:890.98px) {
    .menu-open .menu__body {
        left: 0;
    }
}

// @media(max-width:890.98px){
//     .menu-open .item-social-header__img-menu-body{
//         position: relative;
//         z-index: 2;
//         display: block;
//     }
// }

.item-social-header__img-menu-body {
    display: none;
}


.social-header {
    display: flex;
    column-gap: 32px;

    @media(max-width:479.98px) {
        column-gap: 10px;
    }

    &__item {}
}

.item-social-header {

    &__link {}

    &__img {
        filter: drop-shadow(0px 12px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.3s ease 0s;

        &:hover {
            transform: scale(1.2);
        }

        @media(max-width:890.98px) {
            // box-shadow: 5px 2px 30px 0px #fff;
        }
    }
}

// .item-social-header__img-menu-body {
//     @media(min-width:890.98px) {
//         display: none;
//     }
// }

.icon-menu {
    display: none;

    @media(max-width:890.98px) {
        display: block;
        position: relative;
        z-index: 15;
        flex: 0 0 30px;
        height: 18px;

        &--span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: var(--primary-color);
            right: 0;
            width: 100%;
            height: 2px;
            transition: all 0.3s ease 0s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &--span {
            top: calc(50% - 1px);
        }
    }
}

@media(max-width:890.98px) {
    .menu-open .item-social-header__img-menu-body {
        display: block;
        position: relative;
        z-index: 2;
    }

    .menu-open .item-social-header__img {
        display: none;
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);

    }


    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }


}